.b-button,
a.b-button,
input.b-button,
button.b-button {
  position: relative;
  left: 0;
  top: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  height: 38px;
  line-height: 38px;
  padding: 0 40px;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: #4e698b;
  background: #fff;
  border: 1px solid #4e698b;
  cursor: pointer;
  -webkit-appearance: none;
}
.b-button:hover,
a.b-button:hover,
input.b-button:hover,
button.b-button:hover {
  background: #4e698b;
  color: #fff;
}
.b-button:active,
a.b-button:active,
input.b-button:active,
button.b-button:active {
  left: 1px;
  top: 2px;
}
.b-button._invert,
a.b-button._invert,
input.b-button._invert,
button.b-button._invert {
  background: #4e698b;
  border: 1px solid #fff;
  color: #fff;
}
.b-button._invert:hover,
a.b-button._invert:hover,
input.b-button._invert:hover,
button.b-button._invert:hover {
  background: #fff;
  color: #4e698b;
}
