@import "../default/mixins.less";



/* Примеры (начало) */


.b-examples {
	max-width: @min-width + 1;
	margin: auto;
	padding-top: 30px;
	line-height: 0;
	.clearfix();

	& > a {
		display: block;
		float: left;
		margin-right: 1px;
		margin-bottom: 1px;

		&> img {
			display: block;
		}
	}
}











/* Примеры (конец) */