/* Примеры (начало) */
.b-videos {
  max-width: 1200px;
  margin: auto;
  padding-top: 30px;
}
.b-videos:after {
  clear: both;
  content: "";
  display: block;
  width: 100%;
}
.b-videos__list {
  font-size: 0;
  max-width: 1200p;
}
.b-videos__item {
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: #4e698b;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-background-blend-mode: luminosity;
  -moz-background-blend-mode: luminosity;
  background-blend-mode: luminosity;
}
.b-videos__item:hover {
  -webkit-background-blend-mode: normal;
  -moz-background-blend-mode: normal;
  background-blend-mode: normal;
}
.b-videos__item._col7 {
  width: 796.8333333333333px;
}
.b-videos__item._col6 {
  width: 683px;
}
.b-videos__item._col5 {
  width: 569.1666666666666px;
}
.b-videos__item._col4 {
  width: 455.3333333333333px;
}
.b-videos__item._col3 {
  width: 341.5px;
}
.b-videos__item._col2 {
  width: 227.66666666666666px;
}
.b-videos__link {
  display: block;
  position: relative;
}
.b-videos__link > img {
  display: block;
  width: 100%;
  max-width: 100%;
  visibility: hidden;
}
.b-videos__link:hover .b-videos__item-text {
  background: #db0303;
}
.b-videos__item-text {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
  background: #4e698b;
  color: #fff;
  -webkit-transition: 0.5s bottom cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: 0.5s bottom cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: 0.5s bottom cubic-bezier(0.55, 0.055, 0.675, 0.19);
  font-family: 'dinpro-light', sans-serif;
  font-style: normal;
}
/* Примеры (конец) */
