/*
	Эффектный слайдер
	http://tympanus.net/Development/ItemTransitions
*/


.fx-slider {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: #000;
}

.fx-slider-items {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	perspective: 500px;
}

.fx-slider-item {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	opacity: 0;
}

.fx-slider-item._current {
	opacity: 1;
	z-index: 1;
}

.fx-slider-item > img {
	width: 100%
}

.fx-slider-triggers > * {
	cursor: pointer;
}



/*****************************************/
/* Push reveal */
/*****************************************/

.fxPushReveal .navOutNext {
	opacity: 1;
	-webkit-animation: slideOutBottom 0.7s forwards ease-in-out;
	animation: slideOutBottom 0.7s forwards ease-in-out;
}

.fxPushReveal .navInNext {
	opacity: 1;
	-webkit-animation: slideInHalfFromTop 0.7s forwards ease-in-out;
	animation: slideInHalfFromTop 0.7s forwards ease-in-out;
}

.fxPushReveal .navOutPrev {
	opacity: 1;
	-webkit-animation: slideOutHalfTop 0.7s forwards ease-in-out;
	animation: slideOutHalfTop 0.7s forwards ease-in-out;
}

.fxPushReveal .navInPrev {
	opacity: 1;
	z-index: 1001;
	-webkit-animation: slideInFromBottom 0.7s forwards ease-in-out;
	animation: slideInFromBottom 0.7s forwards ease-in-out;
}

@-webkit-keyframes slideOutBottom {
	from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
	to {
		-webkit-transform: translateY(100%);
	}
}

@keyframes slideOutBottom {
	from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
	to {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
}

@-webkit-keyframes slideInHalfFromTop {
	from {
		-webkit-transform: translateY(-50%);
	}
	to {
		-webkit-transform: translateY(0);
	}
}

@keyframes slideInHalfFromTop {
	from {
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes slideOutHalfTop {
	from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
	to {
		-webkit-transform: translateY(-50%);
	}
}

@keyframes slideOutHalfTop {
	from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
	to {
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

@-webkit-keyframes slideInFromBottom {
	from {
		-webkit-transform: translateY(100%);
	}
	to {
		-webkit-transform: translateY(0);
	}
}

@keyframes slideInFromBottom {
	from {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
